main{
    margin: 100px;
}
.logo{
    width:90px ;
    height: 100px;
    position:absolute;
    left:5px;
    top: 5px;
    border: solid;
    border-color:red; 
    border-radius: 360px;
    border-image: fill;
}
.Home{
    position:absolute;
    top: 10px;
    left:10px;
    color: white;
    width: 100%;
}
.HOME:hover{
    COLOR:WHITE;
    text-decoration: underline ;
}
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blue;
    border-style: double; 
     background: url('/Images/ohk.jpg');
     background-size: cover;
     background-repeat: no-repeat ;
   
}
.wrapper{
    width: 500px;
  
    background-color:transparent;
    color: #fff;
    border-radius: 20PX;
    padding: 30px 40px;
    border-color: white ;
    border: 20px 20px 20 px 20 px;
    border-style: solid;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width:100%;
    height:50px;
    margin: 30px 0;
    
}
.input-box input{ 
    width: 100%;
    height: 10%;
    border: none;
    outline:none;
    border: 2px solid rgba(255, 255,255, .2);
    border-radius: 40PX; 
    background: transparent;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
    
.input-box input::placeholder{
    color: white;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: auto;
}

.remember Label input {
   accent-color: #fff; 
   margin-right: 3px;
}
.remember a {
    color: #fff;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;

}
.wrapper .btn{
    width:100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba (0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600px;

}

.wrapper .register-link {
    font-size:14.5px;
    text-align: center;
    margin-top: 20px;

}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight:600 ;
}
.register-link p a:hover{
    text-decoration: underline;
    color: RED;
    text-shadow: 0 0 10PX ;
}